sharpness:0
contrast:0
brightness:50
saturation:0
iso:200 
video_stabilization:False
exposure_compensation:0
exposure_mode:auto
meter_mode:average
awb_mode:auto
image_effect:none
color_effects:None
rotation:0
hflip:True
vflip:True
crop:(0.0, 0.0, 1.0, 1.0)
drc_strength:off
shutterspeed:1000000
resX:1920
resY:1080
